.formContainer{
    min-width: 300px;
    width: 400px;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.563);
}

.authForm{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.authForm input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    background-color: aliceblue;
    color: black;
    font-size: 16px;
}

.errorField {
    border: 1px solid red !important;
}

.errorMessage{
    font-size: 14px;
    color: red;
}


.authForm button{
    padding: 10px;
    background-color: #1b2451;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: large;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.loadingGIF{
    max-width: 30px;
    max-height: 30px;
    background: transparent;
}

.authForm button:hover{
    background-color: #ecefff;
    color: #1b2451;
}

.authForm button:disabled {
    background-color: gray;
}

.authForm a{
    font-weight: 600;
    color: #1b2451;
}

@media (max-width: 480px) {
    .formContainer{
        min-width: 280px;
        max-width: 400px;
        width: 100%;
    }

    .authForm{
        padding:30px 20px;
        font-size: 14px;
    }
    .authForm input{
        width: 100%;
        font-size: 14px;      
    }
    .authForm button{
        padding: 8px;
        border: none;
        font-weight: 600;
        font-size: 16px;
    }
    
    
}
