.navBar{
    display: flex;
    justify-content: center;
    width: 100%;
    position:fixed;
    padding: 1.5rem;
    background-color: rgb(240, 250, 250);
    color: black;
    font-weight: 600;
}

.logo{
    padding-left: 10px;
    flex: 1 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.menu{
    flex: 1 0 60%;
    display: flex;
    /* padding-right:  250px; */
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: large;
}

.menuItem{
    display: flex;
    place-items: center;
    gap: 0.5rem;
}

.menuItem img{
    height: 2rem;
    width: 2rem;
}

@media (max-width: 767px) {
    .menuItem p{
        display: none;
    }
}

@media (min-width: 768px) {
    .menuItem img{
        display: none;
    }
  }

.menuItem:hover{
    text-decoration: underline ;
}

.logo img{
    width: 30px;
    height: 30px;
}

.logoutButton{
    font-size: medium;
    flex: 1 0 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;

}

.logoutButton button{
    padding: 10px;
    font-size: medium;
    border: none;
    border-radius: var(--border-radius);
    background-color: #1b2451;
    color: white;
    font-weight: 700;
}

.logoutButton button:hover{
    
    color: #1b2451;
    background-color: #b9c3fc;
    
}