.navBar{
    display: flex;
    justify-content: center;
    width: 100%;
    position:fixed;
    padding: 2rem;
    background-color: rgb(240, 250, 250);
    color: black;
    font-weight: 600;
}

.logo{
    flex: 1 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.menu{
    flex: 1 0 60%;
    display: flex;
    /* padding-right:  250px; */
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: x-large;
}

.menu a:hover{
    text-decoration: underline ;
}

.navBar img{
    width: 30px;
    height: 30px;
}

.logoutButton{
    font-size: medium;
    flex: 1 0 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;

}

.logoutButton button{
    padding: 10px;
    font-size: medium;
    border: none;
    border-radius: var(--border-radius);
    background-color: #1b2451;
    color: white;
    font-weight: 700;
}

.logoutButton button:hover{
    
    color: #1b2451;
    background-color: #b9c3fc;
    
}