.navBar{
    display: flex;
    justify-content: center;
    width: 100%;
    position:fixed;
   
    background-color: rgb(240, 250, 250);
    color: black;
    font-weight: 600;
}

.logo{
    padding-left: 10px;
    flex: 1 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30px;
    height: 30px;
}


.menu{
    flex: 1 0 60%;
    display: flex;
    /* padding-right:  250px; */
    justify-content: center;
    align-items: center;
    font-size: large;
}

.menuItem{
    display: flex;
    place-items: center;
    gap: 0.5rem;
}

.homeIcon{
    height: 2rem;
    width: 2rem;
}

.cartIcon{
    height: 1.7rem;
    width: 1.7rem;
}


.menuItem:hover{
    text-decoration: underline ;
}

.logoutButton{
    font-size: medium;
    flex: 1 0 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;

}

.logoutButton button{
    padding: 10px;
    font-size: medium;
    border: none;
    border-radius: var(--border-radius);
    background-color: #1b2451;
    color: white;
    font-weight: bold;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

}

.logoutButton button:hover{
    
    color: #1b2451;
    background-color: #b9c3fc;
    
}

@media (min-width: 769px) {
    .navBar{
        padding: 1.5rem;
    }
    .logo{
        gap: 20px;
    }
    .menu{
        gap: 40px;
    }

    .menuItem img{
        display: none;
    }
  }

  @media (max-width: 768px) {
    .navBar{
        padding: 1.5rem 2.5rem;
    }
    .logo{
        gap: 10px;
        font-size: 14px;
    }
    
    .logo img{
        width: 24px;
        height: 24px;
    }

    .menu{
        gap: 1rem;
        font-size: medium;
    }
    .menuItem p{
        display: none;
    }

    .homeIcon{
        height: 1.7rem;
        width: 1.7rem;
    }
    
    .cartIcon{
        height: 1.5rem;
        width: 1.5rem;
    }
    
}
